@import '../../styles/variables';

.search__input {
  width: 100%;

  &-form {
    position: relative;

    input {
      width: 100%;
      padding: 1.2rem 0 1.2rem 2rem;
      border-radius: 12px;
      border: none;

      &::placeholder {
        color: $base-7;
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}