@import '../../styles/variables';

.project-list {
    background-color: #f2f2f2;
    padding: 20px;
  
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .card {
      background-color: #ffffff;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
  
      .card-body {
        padding: 20px;
  
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
  
        p {
          margin-bottom: 5px;
        }
      }
    }
}
  