@import '../../styles/variables';

.add-link__button {
  a {
    display: flex;
    padding: 1rem;
    border-radius: 12px;
    color: white;
    background-color: $primary;

    svg {
      display: inline-block;
      margin-left: 1rem;
    }

    &:hover {
      background-color: rgba($primary, 0.9);
    }
  }
}