@import '../styles/variables';

.admin__layout {
  width: 100%;
  padding: 0 !important;

  &-body {
    width: 100%;
    min-height: 100vh;
    padding: 0 !important;

    main {
      background-color: $base-6;
      height: 100%;
      padding: 2rem 1.5rem 1rem 1.5rem;
    }
  }
}